<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>
دکمه اضطراری 😂
</title>


<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>


<body>



<div class="background">


<div class="box">


<div class="emoji">
🚨
</div>



<h1>
در مواقع اضطراری
</h1>


<h2>
این دکمه را فشار دهید
😂
</h2>



<button 
id="funButton"
onclick="pressButton()">
come on baby 😎
</button>


<div id="message">

هنوز هیچ اتفاقی نیفتاده... 👀

</div>
<div id="aiBox">

🤖 ربات مسخره‌باز آماده است...

</div>


<div id="counter">

تعداد نجات‌ها: 0

</div>



</div>


</div>





<script src="{{ url_for('static', filename='script.js') }}"></script>

<audio id="laughSound">
    <source src="laugh.mp3" type="audio/mpeg">
</audio>


<div id="flash"></div>
</body>

</html>